---
import { DISQUS_SHORTNAME } from '@/constants';
import { useEffect } from 'react';

const disqusConfig = () => {
  const pageUrl = window.location.href;
  const pageIdentifier = document.title;

  window.disqus_config = function () {
    this.page.url = pageUrl;
    this.page.identifier = pageIdentifier;
  };

  const d = document;
  const s = d.createElement('script');
  s.src = `https://${DISQUS_SHORTNAME}.disqus.com/embed.js`;
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
};

useEffect(() => {
  disqusConfig();
}, []);

return (
  <div id="disqus_thread"></div>
);
---
