---
// Props available but not currently used by Chirpy widget
// const { title, url } = Astro.props;
---

<!-- Chirpy.dev Comment Widget -->
<div data-chirpy-theme="system" data-chirpy-comment="true" id="chirpy-comment"></div>